<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>ScoreList</h1>
    <table border="1">
      <tr>
        <td>번호</td>
        <td>과목명</td>
        <td>등급</td>
      </tr>

      <!-- 반복하려는 코드 구조 -->
      <% let index = 1; scoreList.forEach((score) => { %>
      <tr>
        <td><%= index++ %></td>
        <td><%= score.name %></td>
        <td><%= score.grade %></td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table border="1">
      <thead>
        <tr>
          <th>언어</th>
          <th>등급</th>
        </tr>
      </thead>
      <tbody>
        <% scoreList.forEach(score => { %>
        <tr>
          <td><%= score.name %></td>
          <td><%= score.grade %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
 -->
