<!-- content.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>news content</title>
  </head>
  <body>
    <h1><%= newsContent.title %></h1>
    <div>
      <img src="<%= newsContent.url %>" width="90%" height="90%" alt="" />
    </div>
    <p><%= newsContent.content %></p>
    <p style="text-align: right">
      <a href="/news"><button type="button">리스트</button></a>
    </p>

    <!-- 댓글  -->
    <!--     <p>댓글</p>
    <hr />
    <div id="replyForm">
      <textarea name="replyContent" id="replyContent" style="width: 100%"></textarea><br />
      <button type="button" id="btnRegReply">등록완료</button>
    </div> -->
    <!-- <button type="button" id="btnRegReply" onclick="update('<%= newsContent.nid %>')">등록완료</button> -->

    <%- include("reply") %>

    <script>
      const btnRegReply = document.querySelector('#btnRegReply');
      btnRegReply.addEventListener('click', e => {
        const replyContent = document.querySelector('#replyContent').value;
        fetch('/reply', {
          method: 'post',
          headers: { 'content-type': 'application/json' },
          body: JSON.stringify({ nid: '<%= newsContent.nid %>', replyContent: replyContent }),
        })
          .then(result => {
            alert(result.status);
          })
          .catch(console.error);
      });

      /* 내 풀이 
        function update(nid) {
        const replyContent = document.querySelector('#replyContent').value;
        fetch('/reply', {
          method: 'post',
          headers: { 'content-type': 'application/json' },
          body: JSON.stringify({ nid: nid, replyContent: replyContent }),
        })
          .then(result => {})
          .catch();
      } */
    </script>
  </body>
</html>
